.header-legal-question{
    text-align: center;
}

.content-align-form-ontology-entity{
    text-align: center;
    vertical-align: middle;
}


.selectEntity{
    width:400px;
    margin: 0 auto;
}

.selectQuestion{
    width:700px;
    margin: 0 auto;
}


